.about {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    &-main {
        margin-top: 12vh;
        &-title {
            font-family: Raleway;
            text-align: center;
            margin: 30px 0;
        }
        &-facts {
            text-align: center;
            &-fact {
                font-family: Rubik;

            }
        }
        &-tech {
            margin: 50px 0;
            text-align: center;
            font-family: Raleway;
            &-icons {
                width: 50%;
                justify-items: center;
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
                grid-template-rows: auto;
                gap: 40px;
                margin: 50px auto;
                font-family: Rubik;
                &-icon {
                    width: 100px;
                    & img {
                        max-width: 100%;
                        height: auto;
                    }
                }
                @media screen and (max-width: 1100px) {
                    width: 60%;
                }
                @media screen and (max-width: 1000px) {
                    width: 70%;
                }
                @media screen and (max-width: 900px) {
                    width: 75%;
                }
                @media screen and (max-width: 800px) {
                    width: 80%;
                }
                @media screen and (max-width: 700px) {
                    width: 85%;
                }
            }
        }
        &-role {
            width: 50%;
            margin: auto;
            text-align: left;
            font-family: Raleway;
            @media screen and (max-width: 1100px) {
                width: 60%;
            }
            @media screen and (max-width: 1000px) {
                width: 70%;
            }
            @media screen and (max-width: 900px) {
                width: 75%;
            }
            @media screen and (max-width: 800px) {
                width: 80%;
            }
            @media screen and (max-width: 700px) {
                width: 85%;
            }
        }
    }
}